# --- DATABASE (PostgreSQL) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=rpgate_db
# No Docker, o host é o nome do serviço (db)
DATABASE_URL=postgresql://admin:password123@db:5432/rpgate_db

# --- BACKEND (FastAPI) ---
SECRET_KEY=JWT_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# --- FRONTEND (Vue.js) ---
VITE_API_URL=http://localhost